<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= I18n.t(:meloman) %> iPhone app</title>
  <meta name="description" content="Меломан iPhone app - Flatsoft, LLC">
  <meta name="author" content="Flatsoft, LLC">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <meta name="viewport" content="width=device-width, user-scalable=yes, minimum-scale=0, maximum-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

  <div id="container">
    <header>
      <div class="wrap clearfix">
        <div class="iphone">
          <div class="label"></div>
          <div class="reflection"></div>
          <div class="slides">
            <ul>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide1.png" alt="<%= I18n.t(:loading_application) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide2.png" alt="<%= I18n.t(:authorization) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide2_2.png" alt="<%= I18n.t(:authorization) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide3.png" alt="<%= I18n.t(:authorization) %>..." /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide4.png" alt="<%= I18n.t(:synchronization) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide5.png" alt="<%= I18n.t(:list_of_songs) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide6.png" alt="<%= I18n.t(:playing_song) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide7.png" alt="<%= I18n.t(:add_favorite) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide8.png" alt="<%= I18n.t(:add_favorite) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide9.png" alt="<%= I18n.t(:add_favorite) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide10.png" alt="<%= I18n.t(:list_of_fav_songs) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide11.png" alt="<%= I18n.t(:settings) %>" /></li>
              <li><img src="/content/<%= I18n.t(:lang) %>/slide12.png" alt="<%= I18n.t(:help) %>" /></li>
            </ul>
          </div>
        </div>
        <img src="/img/<%= I18n.t(:lang) %>/logo.png" alt="Меломан" width="426" height="93" class="logo" />
        <h3><%= I18n.t(:about_h3) %></h3>
        <h1><%= I18n.t(:about_h1) %></h1>
        <nav class="clearfix">
          <a href="#"><img src="/img/appstore.png" alt="Available on the iPhone App Store" width="154" height="51" /></a>
          <h1 class="video-link"><a href="#main"><%= I18n.t(:video) %><img src="/img/arrow.png" alt="" width="11" height="18" /></a></h1>
        </nav>
      </div>
    </header>
    <div id="main" role="main">
      <div class="wrap">
        <section class="clearfix">
          <div class="demo">
            <h2><%= I18n.t(:demo_h2) %></h2>
            <p><%= I18n.t(:demo_p1) %></p>
            <p><%= I18n.t(:demo_p2) %></p>
          </div>
          <div id="video">
            <iframe width="620" height="350" src="<%= I18n.t(:video_href) %>" frameborder="0" allowfullscreen></iframe>
          </div>
        </section>
        <section class="steps">
          <ul class="clearfix">
            <li>
              <h3><%= I18n.t(:authorization) %></h3>
              <img src="/content/<%= I18n.t(:lang) %>/screen1.png" alt="<%= I18n.t(:authorization) %>" />
              <h4><%= I18n.t(:step1_h4) %></h4>
              <p><%= I18n.t(:step1_p) %></p>
            </li>
            <li>
              <h3><%= I18n.t(:list_of_songs) %></h3>
              <img src="/content/<%= I18n.t(:lang) %>/screen2.png" alt="<%= I18n.t(:list_of_songs) %>" />
              <h4><%= I18n.t(:step2_h4) %></h4>
            </li>
            <li>
              <h3><%= I18n.t(:listening) %></h3>
              <img src="/content/<%= I18n.t(:lang) %>/screen3.png" alt="<%= I18n.t(:listening) %>" />
              <h4><%= I18n.t(:step3_h4) %></h4>
            </li>
            <li>
              <h3><%= I18n.t(:fav_songs) %></h3>
              <img src="/content/<%= I18n.t(:lang) %>/screen4.png" alt="<%= I18n.t(:fav_songs) %>" />
              <h4><%= I18n.t(:press_on_star) %> (<img src="/content/star.png" alt="<%= I18n.t(:fav) %>" class="star" />)<%= I18n.t(:step4_h4_continuation) %></h4>
            </li>
            <li>
              <h3><%= I18n.t(:settings) %></h3>
              <img src="/content/<%= I18n.t(:lang) %>/screen5.png" alt="<%= I18n.t(:settings) %>" />
              <h4><%= I18n.t(:step5_h4) %></h4>
            </li>
          </ul>
        </section>
        <footer>
          <p><a href="http://flatsoft.com">&copy; Flatsoft</a></p>
        </footer>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  <script defer src="/js/plugins.js"></script>
  <script defer src="/js/script.js"></script>
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
